html, body,
header, section, article, main, footer, nav,
div, p, a, span,
h1, h2, h3, h4, h5, h6,
ol, ul, li, dl, dd, dt,
form, input, select, textarea, button,
table, thead, tbody, figure, figcaption, feTile,
th, td, tr {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul, li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
}
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}