@charset "utf-8";
@import "reset.scss";
@import "indexContent.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
h1, h2, h3 {
  color: #020715;
}
html{
  font-size: 20px;
}
body{
  font-family: "Noto Sans KR", sans-serif;
}
